@charset "UTF-8";
html {
  display: flex;
  flex-direction: column; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin: 0; }

a {
  text-decoration: none; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 3s;
  position: relative;
  overflow: hidden;
  text-align: center; }
  .section__title {
    color: #0eb493;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase; }
  .section__note {
    width: 65%;
    font-size: 18px;
    font-weight: 600;
    color: #5b646e;
    letter-spacing: -0.4px; }
  .section__delimiter {
    position: relative;
    width: 230px;
    margin-bottom: 40px; }
    .section__delimiter--bg-grey {
      border-top: 1px solid #dce1e5; }
    .section__delimiter--bg-light {
      border-top: 1px solid #dce1e5; }
    .section__delimiter--bg-dark {
      border-top: 1px solid #FFFFFF; }
    .section__delimiter:after {
      content: "♡";
      display: block;
      position: absolute;
      left: 50%;
      padding: 0 10px;
      margin: -10px 0 0 -20px;
      color: #c3c6c7;
      font-size: 16px;
      overflow: hidden; }
    .section__delimiter--bg-white:after {
      background-color: #FFFFFF;
      color: #c3c6c7; }
    .section__delimiter--bg-grey:after {
      background-color: #f4f7f9;
      color: #c3c6c7; }
    .section__delimiter--bg-dark:after {
      background-color: #132537;
      color: #FFFFFF; }

.bg-grey {
  background-color: #f4f7f9; }

.weight-bold {
  font-weight: 700; }

.color-green {
  color: #0feb9e; }

.header {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(16, 22, 54, 0.2);
  border: 0;
  border-radius: 0; }

.navbar {
  display: inline-flex;
  flex-wrap: nowrap;
  width: 85%;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  .navbar__header {
    display: inline-flex;
    flex-wrap: nowrap; }
  .navbar__logotype {
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 30px;
    float: left;
    line-height: 70px; }
    .navbar__logotype:hover {
      color: #fff;
      text-decoration: none; }
  .navbar__tagline {
    display: flex;
    font-weight: 300;
    opacity: 0.5;
    display: inline-block;
    color: #fff;
    padding-left: 30px;
    line-height: 70px; }
    .navbar__tagline--delimiter {
      display: inline-block;
      padding-right: 30px; }

.navigation {
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right; }
  .navigation__item {
    float: left;
    margin-left: 35px; }
    .navigation__item:first-child {
      margin-left: 0; }
  .navigation__link {
    display: block;
    line-height: 69px;
    color: #fff;
    border-top: 1px solid transparent; }
    .navigation__link--active {
      border-top: 1px solid #32b0ee; }
    .navigation__link:hover {
      text-decoration: none;
      color: #fff; }

.home {
  display: flex;
  position: relative;
  height: 800px;
  width: 100%; }
  .home__swiper-container {
    display: flex;
    height: 800px;
    width: 100%;
    text-align: center; }
  .home__swiper-slide-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center; }
  .home__swiper-slide-bg {
    position: absolute;
    height: 800px;
    width: 100%;
    z-index: -1;
    background: #112b29 url("/images/home/transparent.png") center no-repeat;
    background-size: cover;
    transition: background 1s; }
  .home__home-content {
    z-index: 2;
    margin-top: 443px;
    margin-bottom: 110px; }
  .home__social-link {
    z-index: 2;
    width: 18px;
    height: 18px;
    font-size: 21px;
    padding: 0 5px;
    opacity: 0.3;
    color: #fff; }
    .home__social-link:hover {
      opacity: 1;
      color: #fff; }

.home-content__title {
  margin: 0;
  color: #fff;
  font-size: 62px;
  font-weight: 300; }

.home-content__text {
  font-weight: 300;
  font-size: 48px;
  color: #fff;
  margin: -12px 0 0 0; }

.home-content__note {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  margin: 0 0 0 0; }
  .home-content__note--hyphen {
    font-size: 30px;
    padding: 0 28px; }
